.Cnt{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}


.hardwareWrap{
    width:70%;
    height:100%;
    display:flex;
    justify-content:center;
    border:1px solid blue;
}


.hardwareHeader{
    width:100%;
    height:450px;
    border:1px solid magenta;
}
