.colored-div {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #E60012; 
    min-height: 480px; /* 최소 높이 설정 */
    
    
}
.colored-div img {
    max-width: 100%; 
    height: auto; 
    margin-left: 300px;
    
    
}

.content-div {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #E60012; 
    color: #ffffff; 
    padding: 10px 20px;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 300px;
    align-items: center;
    
    
}

.modal{
    display: flex;

    flex-direction: column;
}
  
  .modal-body {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    
  }
  
  .modal-image {
    max-width: 100%; 
    height: auto; 
    align-items: center;
    flex-direction: column;
}

.loginbtns{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-right: 300px;
}

.loginbtn {
    width: 250px;
    height: 50px;
    border: none;
    cursor: pointer; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    padding: 0;
    border-radius: 15px; 
    margin-top: 10px;
}
  
  .loginbtn img {
    height: 100%;
    width: 100%; 
    border-radius: 15px; 
  }
