.mainnewsCnt{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:80%;
    height:100%;
}

.mainnewsTitle{
    display:flex;
    flex-direction:row;
    justify-content:left;
    width:75%;
    height:70px;
    margin-top:50px;
}
.titleKr{
    margin-right:10px;
    font-size:130%;
    font-weight:bold;
    line-height:70px;
    color:rgb(41, 40, 40);
}
.titleEn{
    line-height:75px;
}


.mainsoftContent{
    margin-top:20px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-column-gap:70px;
    grid-row-gap:20px;
}
.softList{
    display:flex;
    flex-direction:column;
    width:230px;
    height:300px;
    border-bottom:1px solid lightgray;
    margin-bottom:20px;
}
.slistImage{
    flex:9;
    height:125px;
}
.slistImage img{
    width:100%;
    height:100%;
}
.slisthardware{
    flex:1;
    width:100%;
    color:gray;
    font-size:90%;
}
.slisttitle{
    flex:1;
    width:100%;
    font-size:90%;
    font-weight:bold;
}
.sindate{
    flex:1;
    width:100%;
    font-size:75%;
    color:gray;
    margin:10px 0;
}

.showmoreBtn{
    display:flex;
    justify-content:center;
    align-items:center;
}
.showmoreBtn button{
    width:200px;
    height:40px;
    border:none;
    border-radius:2px;
    background-color:rgb(230, 0, 18);
    color:white;
    font-size:95%;
    font-weight:bold;
    margin:70px 0;
}
.showmoreBtn button img{
    width:13px;
    height:13px;
    margin-right:5px;
}
